/* variables: colors */

:root {
    --color-main: #99cc00;
    --color-white: #fff;
    --color-black: #0a0a0a;
}

/* base  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

/* header */

.header {
    background: url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    height: 95vh;
}

.header__container {
    padding: 5rem 9.5rem;
    color: var(--color-white);
}

.nav {
    display: flex;
    justify-content: space-between;
    /* padding: 40px 0 0 40px; */
}

.nav__heading {
    font-size: 3.5rem;
}

.nav__logo-link {
    font-family: Monoton, sans-serif;
    font-weight: 300;
    color: var(--color-white);
}

.nav__logo-link:hover {
    color: var(--color-white);
    text-decoration: none;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    color: var(--color-white) !important;
    font-size: 3.5rem;
    /* margin-top: 1rem; */
}

.nav__link-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link-list {
    padding: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700; 
}

.nav__link-link {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.nav__link-link:hover {
    color: var(--color-white);
    text-decoration: none;
}

.nav__link-support {
    border: 1px solid var(--color-white);
    padding: 10px 25px 10px 25px;

    transition: background-color .4s;
}

.nav__link-support:hover {
    color: var(--color-white);
    text-decoration: none;

    background-color: var(--color-main);
}

.nav__content {
    margin: 13rem 0 0 0;
}

.nav__content-heading {
    font-size: 4.5rem;
    font-weight: 700;
    width: 500px;

    margin-bottom: 3rem;
}

.nav__content-para {
    font-size: 2rem;
    font-weight: 600;
    
    margin-bottom: 7rem;
}

.nav__content-btn {
    background: var(--color-main);
    color: var(--color-white);

    font-size: 1.5rem;
    font-weight: 600;

    text-transform: uppercase;
    text-decoration: none;

    padding: 13px 35px 13px 35px;
    border: none;
    cursor: pointer;
}

.nav__content-btn:active {
    position: relative;
    top: 2px;
}

.nav__content-btn:hover {
    color: var(--color-white);
    text-decoration: none;
}

@media only screen and (max-width: 988px) {
    .nav__link-item {
        flex-flow: row nowrap;
    }

    .header {
        height: 70vh;
    }
}

@media only screen and (max-width: 680px) {
    .nav__link-item {
        flex-flow: column nowrap;
    }

    .header {
        height: 95vh;
    }

    .nav__link-list {
        padding: 10px;
    }

    .header__container {
        padding: 5rem 4.75rem;
    }
}

@media only screen and (max-width: 800px) {
    .nav__content-heading {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .header__container {
        padding: 5rem 5rem;
    }
}

/* evolution */

.evolution {
    background: url('../img/speed-train.jpg') no-repeat top;
    background-size: cover;
    height: 80vh;

    /* display: flex;
    flex-wrap: nowrap; */
}

.evolution__container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem 0 0 0;
}

.evolution__heading {
    color: var(--color-white);
    font-weight: 700;
    font-size: 4rem;
    width: 30%;
    text-align: center;

    margin-bottom: 2rem;
}

.evolution__line {
    background-color: var(--color-main);
    width: 50px;
    height: 3px;
    margin: 0 auto;
}

@media only screen and (max-width: 865px) {
    .evolution__heading {
        width: 50%;
    }
}

@media only screen and (max-width: 615px) {
    .evolution__heading {
        width: 70%;
    }

    .evolution__container {
        padding: 10rem 0 0 0
    }
}

@media only screen and (max-width: 600px){
    .evolution {
        height: 60vh;
    }
}

/* identity */

.identity {
    background-color: var(--color-main);
    width: 100%;
    /* height: 100px; */
}

.identity__container {
    display: flex;
    padding: 10rem 0 12rem 9.5rem;
}

.identity__text {
    color: var(--color-white);
    flex: 0 0 30%;
    margin-right: 5rem;
    /* width: 400px; */
}

.identity__text-heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0 0 3rem 0;
}

.identity__line {
    background-color: var(--color-white);
    width: 60px;
    height: 3px;
    margin: 0 0 3rem 0;
}

.identity__text-para,
.identity__text-name,
.identity__text-post {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1;
}

.identity__text-para {
    margin: 0 0 4rem 0;
}

.identity__text-name {
    margin: 0 0 -1rem 0;
}

.identity__images {
    display: flex;
    width: 100%;
}

.identity__card {
    background-color: var(--color-white);
    /* width: 235px; */
    width: 75%;
    height: 360px;
    margin: 13px;
    border-radius: 5px;

    box-shadow: 1px 1px 20px var(--color-black);
}

.img {
    display: block;  
    max-width: 100%;
    border-radius: 5px;
    
    /* padding: 1rem; 
    border: none;
    height: 280px;
    border-radius: 5px;  */
}

.first__img {
    background: url('https://res.cloudinary.com/dkprwxflx/image/upload/v1516623400/female1_b23xkc.jpg') no-repeat top;
}

.second__img {
    background: url('https://res.cloudinary.com/dkprwxflx/image/upload/v1516623458/daser_i5bo8b.jpg') no-repeat top;
}

.third__img {
    background: url('https://res.cloudinary.com/dkprwxflx/image/upload/v1516623399/female2_wqdm0t.jpg') no-repeat top;
}

.first__img,
.second__img,
.third__img {
    background-size: cover;
    height: 40vh;
}

.text--container {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4rem 0 1rem 2rem;
}

.text__link {
    color: var(--color-black);
}

.text__link:hover {
    color: var(--color-black);
    text-decoration: none;
}

.fa-arrow-circle-right {
    color: var(--color-black);
    margin-left: 90px;
    /* margin-left: 100px; */
}

.fa-arrow--middle {
    margin-left: 70px !important;
}

.fa-arrow--right {
    margin-left: 100px !important;
}

@media only screen and (max-width: 1350px){
    .identity__container {
        padding: 10rem 0 12rem 5rem;
    }

    .identity__card {
        width: 250px !important;
        /* width: 75%; */
    }

    .identity__text {
        margin-right: 2rem !important;
    }
}

@media only screen and (max-width: 1260px) {
    .identity__container {
        flex-direction: column;
        padding: 10rem 3rem !important;
    }

    .identity__card {
        width: 300px !important;
        /* width: 75%; */
    }

    .identity__images {
        justify-content: flex-start !important;
    }

    .fa-arrow-circle-right {
        margin-left: 120px !important;
        /* margin-left: 100px; */
    }
    
    .fa-arrow--middle {
        margin-left: 90px !important;
    }
    
    .fa-arrow--right {
        margin-left: 120px !important;
    }
}

@media only screen and (max-width: 961px) {
    .identity__images {
        flex-direction: column !important;
        justify-content: center !important;
        /* width: 100% !important; */
    }

    .identity__card {
        /* width: 300px !important; */
        width: 95% !important;
    }
}

/* icons */

.icons {
    background: var(--color-white);
}

.icons__container {
    padding: 10rem 15rem;
    /* display: flex; */
    /* flex-wrap: nowrap;
    text-align: center; */
}

.first__row,
.second__row {
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.first__row {
    margin: 0 0 10rem 0;
}

.fa-mobile-alt,
.fa-laptop,
.fa-sticky-note,
.fa-building,
.fa-gift,
.fa-globe {
    color: var(--color-main);
    font-size: 7rem;
    text-align: center;

    margin-bottom: 3rem;
}

.first__row--1:not(:last-of-type),
.second__row--1:not(:last-of-type) {
    margin: 0 5rem 0 0;
}

.row__heading {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.row__text {
    font-size: 1.5rem;
    color: #999;
}

@media only screen and (max-width: 1000px){
    .icons__container {
        padding: 10rem 5rem;
    }
}

@media only screen and (max-width: 810px){
    .first__row,
    .second__row {
        flex-wrap: wrap;
    }

    .first__row {
        margin: 0 0 2rem 0 !important;
    }

    .first__row--1,
    .second__row--1 {
        /* margin: 0 5rem 0 0; */
        margin: 0 !important;
    }

    .row__text {
        margin: 0 0 3rem 0 !important;
    }
}

/* vision */

.vision {
    background: url('../img/bridge--1.jpeg') no-repeat center;
    background-size: cover;
    padding: 15rem 0;
}

.vision__container {
    padding: 0 20rem;
    text-align: center;
}

.vision__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.vision__heading {
    width: 70%;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--color-white);
    margin: 0 0 3rem 0;
}

.vision__para {
    font-size: 2.1rem;
    color: var(--color-white);
    margin: 0 0 6rem 0;
}

.subscribe__input {
    height: 3.8rem;
    width: 60%;
    font-size: 1.7rem;
    font-style: italic;
    padding-left: 2rem;

    border: none;
    outline: none;
}

.subscribe__input::placeholder {
    font-size: 1.5rem;
}

.subscribe__input::-webkit-calendar-picker-indicator {
    display: none; /* this removes the caret in the datalist element */
}

.subscribe__input:focus {
    border: 1px solid var(--color-main);
}

.btn {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 10px 40px 10px 40px;
    margin-left: 1rem;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
    outline: none;
    cursor: pointer;

    position: relative;
    bottom: 3px;

    transition: transform .3s;
}

.btn:hover {
    color: var(--color-white);
    transform: translateY(-2px);
}

@media only screen and (max-width:1190px){
    .subscribe__input {
        text-overflow: ellipsis;
        /* width: 500px; */
    }
}

@media only screen and (max-width:1000px) {

    .vision__container {
        padding: 0 10rem;
    }

    .vision__heading {
        width: 90%;
    }

    .subscribe__input {
        width: 60%;
    }
}

@media only screen and (max-width:700px) {

    .vision__container {
        padding: 0 5rem;
    }

    .vision__heading {
        width: 100%;
    }

    .subscribe__input {
        width: 495px;
        margin: 0 0 1.5rem 0; 
    }
}

@media only screen and (max-width: 561px){
    .vision {
        padding: 10rem 0 !important;
    }

    .subscribe__input {
        width: 400px; 
    }
}

@media only screen and (max-width: 470px){
    .subscribe__input {
        width: 300px; 
    }

    .vision__para {
        width: 100%;
        margin: 0 0 3rem 0;
    }
}

/*footer */

footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer__container {
    padding: 7rem 9.5rem 3rem;    
}

.content__container {
    display: flex;
}

.mobile {
    width: 30%;
    margin: 0 10rem 0 0;
}

.self,
.quicklinks {
    width: 20%;
}

.mobile__heading {
    font-size: 3.5rem;
    margin: 0 0 3rem 0;
}

.mobile__para {
    font-size: 1.2rem;
    line-height: 1.9;
}

.mobile__brand-link {
    color: var(--color-white);
    text-decoration: none;
}

.mobile__brand-link:hover {
    color: currentColor;
    text-decoration: none;
}

.mobile--9 {
    color: var(--color-main);
    font-family: Monoton, sans-serif !important;
}

.self__heading,
.quicklinks__heading,
.social__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 3rem 0;
}

.self__list,
.quicklinks__list,
.social__list {
    padding: .8rem 0;
}

.self__link,
.quicklinks__link,
.social__link {
    color: var(--color-white);
    font-size: 1.2rem;    
}

.self__link:hover,
.quicklinks__link:hover,
.social__link:hover {
    color: var(--color-white);
}

.fab {
    padding: 0 1rem 0 0;
    font-size: 1.7rem;
    color: var(--color-white);
}

.fa-facebook-f:hover {
    color: #3b5999;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-instagram:hover {
    color: #e4405f;
}

.fa-medium-m:hover {
    color: #02b875;
}

.line__footer {
    background-color: var(--color-white);
    margin: 3rem 0 1rem 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.3rem;
}

.terms__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms--link,
.credit__link {
    color: var(--color-white);
}

.terms--link:hover {
    color: var(--color-white);
}

.credit__link:hover {
    color: #00baba;
}

@media only screen and (max-width: 901px){

    .footer__container {
        padding: 7rem 4.75rem 3rem;
    }
}

@media only screen and (max-width: 800px){
    .footer__container {
        padding: 7rem 2rem 3rem;
    }
}

@media only screen and (max-width: 735px){
    .content__container {
        display: flex;
        flex-direction: column;
    }
    
    .mobile {
        width: 100% !important;
    }
    
    .mobile__para {
        margin: 0 0 3rem 0;
    }
    
    .self__heading,
    .quicklinks__heading,
    .social__heading {
        margin: 0 0 1rem 0 !important;
    }
    
    .self, 
    .quicklinks, 
    .social {
         width: 100%;
    }
}

@media only screen and (max-width: 735px){
    .copyright {
        flex-flow: column nowrap;
    }
}